main {
  display: flex;
  flex-direction: row;
  flex: auto;
  background-color: azure;
  border-radius: 10%;
}
body {
  display: flex;
  flex-direction: column;
  background-color: beige;
}
article {
  flex: 2;
}
aside {
  flex: 1;
}
article,
aside {
  overflow-y: auto;
}
